*{
margin:0; 
padding:0;
}
html{
background-color:#f5deb3;
}
body{
width:1280px; 
height:800px; 
margin:auto; 
background-color:pink;
} 

header{
width:1280x; 
height:150px; 
background-color:black;
}
nav{
width:180px; 
float:left; 
height:650px; 
background-color:#bfbfdd;
}
main{
width:1080px; 
float:right; 
height:600px; 
background-color:black;
} 
section#Logo{
width:200px; 
height:150px; 
float:right; 
background-color:#EBEBEB;
}
section#Banner{
width:1080px; 
height:150px; 
background-color:white;
}
section#inicio{
width:200px; 
height:162px; 
background-color:#9068A4;
}
section#ayuda{
width:200px; 
height:162px; 
background-color:#EEA8A8;
}
section#auxilios{
width:200px; 
height:162px; 
background-color:#9068A4;
}
section#centros{
width:200px; 
height:164px; 
background-color:#EEA8A8;
}
article{
width:860px; 
float:left;
height:580px; 
background-color:#fcf75e; 
padding:10px;
}
aside{
width:180px; 
float:right; 
height:580px; 
background-color:#A6DB68;
padding:10px;
}
footer{
width:1080px; 
height:50px; 
float:right; 
background-color:#bfbfdd;
}
section#facebook{
width:160px; 
height:40px;  
float:left;
padding-left:5px;
}
section#usuariofb{
width:160px; 
height:40px;  
float:left;
padding-left:50px;
}
section#instagram{
width:160px; 
height:50px;  
float:left;
padding-left:5px;
}
section#usuarioin{
width:160px; 
height:40px;  
float:left;
padding:5px;
}
section#twitter{
width:160px; 
height:40px; 
float:left; 
padding:0px;
}
section#usuariotw{
width:160px; 
height:40px; 
float:left; 
padding:5px;
}
.imagen {width: 20%; 
padding:15px;
opacity: 0.9; 
border-radius: 30%;}